<ion-header>
  <ion-navbar>
    <ion-title><button ion-button menuToggle>All Questions</button></ion-title>
    <ion-buttons end>
      <ion-title *ngIf="hidevalue==false">Remaining Time	: {{hours}}:{{minutes}}</ion-title>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-menu [content]="allQuestions" side="right">
  <ion-header>
      <ion-title>
        Jump To Question
      </ion-title>
      </ion-header>
  <ion-content>

<ion-grid>
  <ion-row justify-content-center align-items-center>

    <ion-col col-lg-2 col-xl-2 *ngFor="let item of noOfQuestions; let i = index">
  <button ion-button [color]="isReviewed(i+1) ? 'danger' : 'secondary'" outline (click)="jumpToQuestion(i)">{{i+1}}</button>

    </ion-col>
  </ion-row>
  </ion-grid>
    
    
  </ion-content>
</ion-menu>

<ion-nav #allQuestions [root]="rootPage"></ion-nav>
<ion-content padding>


  <ion-grid>
    <ion-row>
  
      <ion-col col-lg-8 col-xl-8>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Q. {{qid}}
      </ion-card-title>
      <p [innerHTML]="sanitizer.bypassSecurityTrustHtml(currentQuestion?.ques_txt)"></p>
      <hr>
      <ion-list radio-group [(ngModel)]="studentResponse[qid-1].answer">
        <ion-item>
          <ion-radio item-left value=1></ion-radio>
          <ion-label [innerHTML]="sanitizer.bypassSecurityTrustHtml(currentQuestion?.options.option1)"></ion-label>
        </ion-item>
        <ion-item>
          <ion-label [innerHTML]="sanitizer.bypassSecurityTrustHtml(currentQuestion?.options.option2)"></ion-label>
          <ion-radio item-left value=2></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label [innerHTML]="sanitizer.bypassSecurityTrustHtml(currentQuestion?.options.option3)"></ion-label>
          <ion-radio item-left value=3></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label [innerHTML]="sanitizer.bypassSecurityTrustHtml(currentQuestion?.options.option4)"></ion-label>
          <ion-radio item-left value=4></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <button ion-button [outline]="! isSaved(qid)" (click)="markForSave(qid)">Save & Next</button>
      <button ion-button [outline]="! isReviewed(qid)" (click)="markForReview(qid)">Mark for review</button>
      <button ion-button [outline]="! isSavedReviewed(qid)" (click)="markForSavedReview(qid)">Save & Mark for review</button>
      <button ion-button color="twitter" (click)="clearResponse(qid)">Clear Response</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <button ion-button color="secondary" outline (click)="prevQuestion(qid)" [disabled]="!showPrev">Previous</button>
      <button ion-button color="secondary" outline (click)="nextQuestion(qid)" [disabled]="!showNext">Next</button>
    </ion-col>
  </ion-row>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <button ion-button large icon-left full (click)="submitTest()">Submit Test</button>
      </ion-col>
      <ion-col col-lg-4 col-xl-4>
          <ion-card>
              <ion-card-content>
                  <ion-row>
                    <ion-col>
                        <button ion-button [color]="'danger'"></button><BR> Reviewed Questions
                    </ion-col>
                    <ion-col>
                        <button ion-button [color]="'favorite'"></button><BR> Saved Questions

                      </ion-col>
                      <ion-col>
                          <button ion-button [color]="'review'"></button><BR> Saved Review Question

                        </ion-col>
                        <ion-col>
                            <button ion-button [color]="'light'"></button><BR> No Option Selected

                          </ion-col>
                    </ion-row>
                <ion-row>
                    <ion-col col-lg-2 col-xl-2 *ngFor="let item of noOfQuestions; let i = index">
                        <button ion-button [color]="isReviewed(i+1) ? 'danger' : isSaved(i+1) ? 'favorite' : isSavedReviewed(i+1) ? 'review' : 'light'" (click)="jumpToQuestion(i)">{{i+1}}</button>
                  
                      </ion-col>
                  
                </ion-row>
                  </ion-card-content>
          </ion-card>
      </ion-col>
    
      </ion-row>

      
        
      
      </ion-grid>



</ion-content>
