<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Available Tests for {{subject}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card *ngIf="listing?.length <= 0">
<ion-card-header>
  <h2 ion-text color="danger"> Sorry! No Tests available.</h2>
</ion-card-header>
</ion-card>
  <ion-row *ngFor="let d of listing">

    <ion-card>
      <ion-card-header>
        <h2> {{d.qname}} </h2>
      </ion-card-header>

      <ion-card-content class="outer-content">
        
        <ion-list>
          <h3>Class: {{d.qclass}}</h3>
          <h3>Subject: {{d.qsubject}}</h3>
          <h3>Time: {{d.qtime}}</h3>
          <div text-center>
            <button ion-button (click)="goToChapterDetail(d.qid)">
              Take Test
            </button>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-row>


</ion-content>